{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": ["prettier", "react", "react-hooks"],
  "settings": {
    "react": {
      "version": "16.8.0"
    }
  }
}
